<h1>Добро пожаловать в барбершоп</h1>

<form action="/" method="POST">

  Введите Ваше имя:              <br />
  <input type="text" name="@user_name"> <br />

  <br />
  Введите номер телефлна:       <br />
  <input type="text" name="@phone"> <br />

  <br />
  Введите дату и время:           <br />
  <input type="text" name="@time"> <br />

  <br />
  <!--button Submit кнопка получилась синяя-->
  <button type="submit" class="btn btn-primary">Записаться</button><br/>
  <!-- кнопка белого цвета <input type="submit">-->
</form>                      

   